/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html,
body {
    height: 100%;
    background-color: #EFF3F8
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

h1 {
    text-align: left !important;
}

h3 {
    text-align: left !important;
}

h2 {
    text-align: left !important;
}

.form-row-semMargem{
    padding: 0;
}

.flat-btn.flat-btn-primary {
    background-color: #4AB858;
    border: 1px solid #4AB858;
    color: #FFFFFF
}

    .flat-btn.flat-btn-primary:focus {
        box-shadow: 0 0 0 2px rgba(185, 227, 190, 0.8)
    }

    .flat-btn.flat-btn-primary:active,
    .flat-btn.flat-btn-primary.active {
        box-shadow: inset 0 1px 3px 0 #0E731B
    }

    .flat-btn.flat-btn-primary:hover {
        background-color: rgba(74, 184, 88, 0.8);
        border: 1px solid #4AB858
    }

.flat-btn .caret {
    border-top: 4px solid #0052A5;
    position: absolute;
    top: 19px;
    right: 17px
}

.flat-btn.flat-btn-primary .caret,
.flat-btn.flat-btn-secondary .caret {
    border-top: 4px solid #FFFFFF
}

.btn-group > .btn + .btn {
    margin-left: -1px
}

.flat-btn.disabled,
.flat-btn.disabled:hover,
.flat-btn.flat-btn-secondary.disabled:hover,
.flat-btn:disabled,
.flat-btn:disabled:hover {
    cursor: not-allowed;
    opacity: .4
}

.ca-heading--title {
    font-weight: 600;
    font-size: 26px;
}

.ca-u-vertical-offset3 {
    margin-top: 30px !important;
}

.ca-heading--subtitle-alt {
    font-weight: 400;
    font-size: 18px;
    margin-top: 25px
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background: #EFF3F8;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

    .form-signin .checkbox {
        font-weight: 400;
    }


    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="UserName"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="Password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.ca-page-default.ca-page-default-fold {
    position: relative;
}

.ca-page-default {
    border: 1px solid #c9d3dd;
    padding: 50px 70px;
    background-color: #fff;
}

    .ca-page-default.ca-page-default-fold:after {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        width: 0;
        height: 0;
        border-color: #f1f4f9 #f1f4f9 #f1f4f9 #c9d3dd;
        border-style: solid;
        border-width: 40px 0 0 40px;
    }

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.slimbox.is-raisable, ca-slimbox.is-raisable div {
    box-sizing: border-box;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    position: relative;
    cursor: pointer;
}

.slimbox {
    position: relative;
    min-height: 160px;
    background-color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid #C9D3DD;
    box-shadow: 0 0 10px 0 rgba(201,211,221,0.4);
}

.ca-u-z-index--200 {
    z-index: 200 !important;
}

.dashboard-small-card-height, .dashboard-small-card-height .slimbox-empty-container .slimbox {
    height: 212px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
