@using LaboratorioGestor.App.ViewModels.Identity;
@model LaboratorioGestor.App.ViewModels.Identity.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Conecte-se";
}

<br />

@*<style>
    body {
        margin-bottom: 350px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #E9ECEF;
    }
</style>*@


<form class="form-signin" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">

    <vc:Summary></vc:Summary>

    <h1 class="h3 mb-3 font-weight-lighter">Faça login na sua conta</h1>

    <label asp-for="UserName" class="control-label sr-only">Nome do usuário</label>
    <input asp-for="UserName" type="text" class="form-control" placeholder="Nome do Usuário" required autofocus>
    <span asp-validation-for="UserName" class="text-danger"></span>

    <label asp-for="Password" class="control-label sr-only">Senha</label>
    <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
    <span asp-validation-for="Password" class="text-danger"></span>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" style="width:295px" type="submit">Confirmar</button>

    <p class="text-center">
        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">
            Registrar-se como um novo usuário?
        </a>
    </p>
    <p class="text-center">
        <a asp-action="ForgotPassword">
            Esqueceu sua senha?
        </a>
    </p>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
