@model LaboratorioGestor.App.ViewModels.RecebimentosViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RecebimentosViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoRecebiemnto" class="control-label"></label>
                <input asp-for="TipoRecebiemnto" class="form-control" />
                <span asp-validation-for="TipoRecebiemnto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDCobranca" class="control-label"></label>
                <input asp-for="IDCobranca" class="form-control" />
                <span asp-validation-for="IDCobranca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDProtetico" class="control-label"></label>
                <input asp-for="IDProtetico" class="form-control" />
                <span asp-validation-for="IDProtetico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

