@model LaboratorioGestor.App.ViewModels.ContatoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ContatoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Fone1" class="control-label"></label>
                <input asp-for="Fone1" class="form-control" />
                <span asp-validation-for="Fone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fone2" class="control-label"></label>
                <input asp-for="Fone2" class="form-control" />
                <span asp-validation-for="Fone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CelularWhatApp" class="control-label"></label>
                <input asp-for="CelularWhatApp" class="form-control" />
                <span asp-validation-for="CelularWhatApp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDoCadastro" class="control-label"></label>
                <input asp-for="DataDoCadastro" class="form-control" />
                <span asp-validation-for="DataDoCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoContato" class="control-label"></label>
                <input asp-for="TipoContato" class="form-control" />
                <span asp-validation-for="TipoContato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DentistaId" class="control-label"></label>
                <input asp-for="DentistaId" class="form-control" />
                <span asp-validation-for="DentistaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaboratorioId" class="control-label"></label>
                <input asp-for="LaboratorioId" class="form-control" />
                <span asp-validation-for="LaboratorioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProteticoId" class="control-label"></label>
                <input asp-for="ProteticoId" class="form-control" />
                <span asp-validation-for="ProteticoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
